# Conll config file

# Required fields
configFilename                          acl2016
pathToModelFile                         models/ner/es-tac
taggingEncodingScheme                   BIO
#tokenizationScheme                      DualTokenizationScheme
randomNoiseLevel                        0.0

# Optional fields
#beamSize                                5
forceNewSentenceOnLineBreaks            true
labelTypes                              PER ORG LOC MISC
logging                                 false
# debuggingLogPath                      irrelevant
#inferenceMethod                         GREEDY
normalizeTitleText                      false
predictionConfidenceThreshold           -1
sortLexicallyFilesInFolders             true
thresholdPrediction                     false
treatAllFilesInFolderAsOneBigDocument   false
debug                                   false
trainlang 								en
testlang								es
#labelsToIgnoreInEvaluation				MISC
addDomain								false

# Features

# Everywhere
PreviousTag1                            1
PreviousTag2                            1

# Non lexical
POSTags                                 0
Wikifier                               	1
Embedding								0
PrevTagsForContext                      1

# External resource
GazetteersFeatures                      1
pathToGazetteersLists                   config/gazetteers-list.txt

BrownClusterPaths                       1
isLowercaseBrownClusters                false false false
pathsToBrownClusters                    brown-clusters/es/wiki-c1000-min3 brown-clusters/brown-english-wikitext.case-intact.txt-c1000-freq10-v3.txt brown-clusters/es/wiki-c500-min3
minWordAppThresholdsForBrownClusters    3 3 3

# Lexical Feature
Affixes                                 1
Capitalization                          1
WordTypeInformation                    	1
Forms                                   1
PreviousTagPatternLevel1                1
PreviousTagPatternLevel2                1
PredictionsLevel1                       1
