# Conll config file

# Required fields
configFilename                          es-tacere
modelName                          		es-tacere
pathToModelFile                         xlwikifier-data/models/ner/es-tac
taggingEncodingScheme                   BIO

labelTypes                              PER ORG LOC GPE FAC
treatAllFilesInFolderAsOneBigDocument   false
language								es

# Features

# Everywhere
PreviousTag1                            1
PreviousTag2                            1

# Non lexical
WikifierFeatures                        1
PrevTagsForContext                      1

# External resource
GazetteersFeatures                      1
pathToGazetteersLists                   config/gazetteer-lists/es

BrownClusterPaths                       1
isLowercaseBrownClusters                false false false
pathsToBrownClusters                    xlwikifier-data/brown-clusters/es/wiki-c1000-min3 xlwikifier-data/brown-clusters/en/brown-english-wikitext.case-intact.txt-c1000-freq10-v3.txt xlwikifier-data/brown-clusters/es/wiki-c500-min3
minWordAppThresholdsForBrownClusters    3 3 3

# Lexical Feature
Affixes                                 1
Capitalization                          1
WordTypeInformation                    	1
Forms                                   1
PreviousTagPatternLevel1                1
PreviousTagPatternLevel2                1
PredictionsLevel1                       1
