# Conll config file

# Required fields
configFilename                          nl-conll
modelName                          		nl-conll
pathToModelFile                         xlwikifier-data/models/ner/nl-conll
taggingEncodingScheme                   BIO

labelTypes                              PER ORG LOC MISC
treatAllFilesInFolderAsOneBigDocument   false
language								nl

# Features

# Everywhere
PreviousTag1                            1
PreviousTag2                            1

# Non lexical
WikifierFeatures                        1
PrevTagsForContext                      1

# External resource
GazetteersFeatures                      1
pathToGazetteersLists                   config/gazetteer-lists/es

BrownClusterPaths                       1
isLowercaseBrownClusters                false false false
pathsToBrownClusters                    xlwikifier-data/brown-clusters/en/brownBllipClusters xlwikifier-data/brown-clusters/en/brown-english-wikitext.case-intact.txt-c1000-freq10-v3.txt xlwikifier-data/brown-clusters/en/brown-rcv1.clean.tokenized-CoNLL03.txt-c1000-freq1.txt
minWordAppThresholdsForBrownClusters    3 3 3

# Lexical Feature
Affixes                                 1
Capitalization                          1
WordTypeInformation                    	1
Forms                                   1
PreviousTagPatternLevel1                1
PreviousTagPatternLevel2                1
PredictionsLevel1                       1
