# Conll config file

# Required fields
configFilename                          4types
pathToModelFile                         models/ner/zh-tac
taggingEncodingScheme                   BIO
#tokenizationScheme                      DualTokenizationScheme
randomNoiseLevel                        0.0

# Optional fields
#beamSize                                5
forceNewSentenceOnLineBreaks            true
labelTypes                              PER ORG LOC GPE
logging                                 false
# debuggingLogPath                      irrelevant
#inferenceMethod                         GREEDY
normalizeTitleText                      false
predictionConfidenceThreshold           -1
sortLexicallyFilesInFolders             false
thresholdPrediction                     false
treatAllFilesInFolderAsOneBigDocument   false
debug                                   false
trainlang 								en
testlang								zh
#labelsToIgnoreInEvaluation				MISC
addDomain								false

# Features

# Everywhere
PreviousTag1                            1
PreviousTag2                            1

# Non lexical
POSTags                                 0
Wikifier                               	1
Embedding								0
PrevTagsForContext                      1

# External resource
GazetteersFeatures                      1
pathToGazetteersLists                   config/gazetteers-list.txt

BrownClusterPaths                       1
isLowercaseBrownClusters                false false
pathsToBrownClusters                    brown-clusters/zh/wiki-c500-min3 brown-clusters/zh/wiki-char-c1000-min3
minWordAppThresholdsForBrownClusters    3 3

# Lexical Feature
Affixes                                 1
Capitalization                          1
WordTypeInformation                    	1
Forms                                   1
PreviousTagPatternLevel1                1
PreviousTagPatternLevel2                1
PredictionsLevel1                       1
