# Conll config file

# Required fields
configFilename                          zh-tacere
modelName                          		zh-tacere
pathToModelFile                         xlwikifier-data/models/ner/zh.tac2016
taggingEncodingScheme                   BIO

labelTypes                              PER ORG LOC GPE FAC
treatAllFilesInFolderAsOneBigDocument   false
language								zh
PhraseLength							7

# Features

# Everywhere
PreviousTag1                            1
PreviousTag2                            1

# Non lexical
WikifierFeatures                        1
PrevTagsForContext                      1

# External resource
GazetteersFeatures                      1
pathToGazetteersLists                   config/gazetteer-lists/zh

BrownClusterPaths                       1
isLowercaseBrownClusters                false false
pathsToBrownClusters                    xlwikifier-data/brown-clusters/zh/wiki-c500-min3 xlwikifier-data/brown-clusters/zh/wiki-char-c1000-min3
minWordAppThresholdsForBrownClusters    3 3

# Lexical Feature
Affixes                                 1
Capitalization                          0
WordTypeInformation                    	0
Forms                                   1
PreviousTagPatternLevel1                1
PreviousTagPatternLevel2                1
PredictionsLevel1                       1
