
db_path = /shared/preprocessed/ctsai12/multilingual/mapdb-new1

dump_path = /shared/preprocessed/ctsai12/multilingual/wikidump/ 

stopword_path = /shared/preprocessed/ctsai12/multilingual/xlwikifier-data/stopwords

model_path = /shared/preprocessed/ctsai12/multilingual/xlwikifier-data/models

# The following section sets NER models for each language

# English
en_ner_config = config/ner/monolingual/en.config

# Spanish
es_ner_config = config/ner/monolingual/es.config

# Chinese
zh_ner_config = config/ner/monolingual/zh.config



