
#db_path = /shared/preprocessed/ctsai12/multilingual/mapdb-new1
db_path = /shared/bronte/ctsai12/multilingual/xlwikifier-mapdb/xlwikifier-mapdb

# This is only used if you want to import a new dump or train a ranking model
dump_path = /shared/preprocessed/ctsai12/multilingual/wikidump/ 

use_wikisearch = true
search_cache = /shared/bronte/tac2015/mediawiki_cache/

no_ranking_in_ner = true

# Which entity ID to use in the output view
# Two options:
# "freebase" : FreeBase MID
# "enwiki" : English Wikipedia title
target_kb = freebase

liblinear_path = liblinear-ranksvm-1.95

# Ranking models for wikificaiton
es_ranking_model = xlwikifier-data/models/ranker/default/es/ranker.model
#es_ranking_model = xlwikifier-data/models/ranker/ner/es/ranker.model
zh_ranking_model = xlwikifier-data/models/ranker/default/zh/ranker.model
#zh_ranking_model = xlwikifier-data/models/ranker/ner/zh/ranker.model
en_ranking_model = xlwikifier-data/models/ranker/default/en/ranker.model
#en_ranking_model = xlwikifier-data/models/ranker/ner/en/ranker.model

# NER models for each language
en_ner_config = config/ner/monolingual/en.tac2016.config
es_ner_config = config/ner/monolingual/es.tac2016.config
zh_ner_config = config/ner/monolingual/zh.tac2016.config

# TAC 2016 EDL dataset
tac2016_es_eval = /shared/preprocessed/ctsai12/multilingual/deft/data/tac2016.es.eval
tac2016_zh_eval = /shared/preprocessed/ctsai12/multilingual/deft/data/tac2016.zh.eval
tac2016_en_eval = /shared/preprocessed/ctsai12/multilingual/deft/data/tac2016.en.eval
tac2016_eval_golds = /shared/preprocessed/ctsai12/multilingual/deft/data/tac2016.eval.golds

# TAC 2015 EDL dataset
tac2015_es_eval = /shared/preprocessed/ctsai12/multilingual/deft/data/tac2015.es.eval
tac2015_zh_eval = /shared/preprocessed/ctsai12/multilingual/deft/data/tac2015.zh.eval
tac2015_en_eval = /shared/preprocessed/ctsai12/multilingual/deft/data/tac2015.en.eval
tac2015_eval_golds = /shared/preprocessed/ctsai12/multilingual/deft/data/tac2015.eval.golds

tac2015_es_train = /shared/preprocessed/ctsai12/multilingual/deft/data/tac2015.es.train
tac2015_zh_train = /shared/preprocessed/ctsai12/multilingual/deft/data/tac2015.zh.train
tac2015_en_train = /shared/preprocessed/ctsai12/multilingual/deft/data/tac2015.en.train
tac2015_train_golds = /shared/preprocessed/ctsai12/multilingual/deft/data/tac2015.train.golds


