
#db_path = /shared/preprocessed/ctsai12/multilingual/mapdb-new1
db_path = /shared/bronte/ctsai12/multilingual/xlwikifier-mapdb/xlwikifier-mapdb

# This is only used if you want to import a new dump or train a ranking model
dump_path = /shared/preprocessed/ctsai12/multilingual/wikidump/ 

use_wikisearch = true
search_cache = /shared/bronte/tac2015/mediawiki_cache

# Which entity ID to use in the output view
# Two options:
# "freebase" : FreeBase MID
# "enwiki" : English Wikipedia title
target_kb = freebase

liblinear_path = liblinear-ranksvm-1.95

# Ranking models for wikificaiton
es_ranking_model = xlwikifier-data/models/ranker/tac-es/ranker.model
zh_ranking_model = xlwikifier-data/models/ranker/tac-zh/ranker.model

# NER models for each language
en_ner_config = config/ner/monolingual/en.tac.config
es_ner_config = config/ner/monolingual/es.config
zh_ner_config = config/ner/monolingual/zh.config

# Benchmark data (TAC2016 EDL)
#tac_es_docs = config/tac/es.all
tac_zh_docs = config/tac/zh.all
#tac_en_docs = config/tac/en.all
tac_golds = /shared/corpora/corporaWeb/tac/LDC2016E68_TAC_KBP_2016_Entity_Discovery_and_Linking_Evaluation_Gold_Standard_Entity_Mentions_and_Knowledge_Base_Links/data/tac_kbp_2016_edl_evaluation_gold_standard_entity_mentions.tab

# TAC 2016 EDL dataset
tac2016_es_eval = /shared/preprocessed/ctsai12/multilingual/deft/data/tac2016.es.eval
tac2016_zh_eval = /shared/preprocessed/ctsai12/multilingual/deft/data/tac2016.zh.eval
tac2016_en_eval = /shared/preprocessed/ctsai12/multilingual/deft/data/tac2016.en.eval
tac2016_eval_golds = /shared/preprocessed/ctsai12/multilingual/deft/data/tac2016.eval.golds

# TAC 2015 EDL dataset
tac2015_es_eval = /shared/preprocessed/ctsai12/multilingual/deft/data/tac2015.es.eval
tac2015_zh_eval = /shared/preprocessed/ctsai12/multilingual/deft/data/tac2015.zh.eval
tac2015_en_eval = /shared/preprocessed/ctsai12/multilingual/deft/data/tac2015.en.eval
tac2015_eval_golds = /shared/preprocessed/ctsai12/multilingual/deft/data/tac2015.eval.golds

tac2015_es_train = /shared/preprocessed/ctsai12/multilingual/deft/data/tac2015.es.train
tac2015_zh_train = /shared/preprocessed/ctsai12/multilingual/deft/data/tac2015.zh.train
tac2015_en_train = /shared/preprocessed/ctsai12/multilingual/deft/data/tac2015.en.train
tac2015_train_golds = /shared/preprocessed/ctsai12/multilingual/deft/data/tac2015.train.golds


