
#db_path = /shared/preprocessed/ctsai12/multilingual/mapdb-new1
db_path = /shared/bronte/ctsai12/multilingual/xlwikifier-mapdb/xlwikifier-mapdb

# This is only used if you want to import a new dump or train a ranking model
dump_path = /shared/preprocessed/ctsai12/multilingual/wikidump/ 

use_wikisearch = true
search_cache = /shared/bronte/tac2015/mediawiki_cache

# Which entity ID to use in the output view
# Two options:
# "freebase" : FreeBase MID
# "enwiki" : English Wikipedia title
target_kb = freebase

liblinear_path = liblinear-ranksvm-1.95

# Ranking models for wikificaiton
en_ranking_model = xlwikifier-data/models/ranker/default/en/ranker.model
es_ranking_model = xlwikifier-data/models/ranker/tac-es/ranker.model
zh_ranking_model = xlwikifier-data/models/ranker/tac-zh/ranker.model

# NER models for each language
en_ner_config = config/ner/monolingual/en.config
es_ner_config = config/ner/monolingual/es.config
zh_ner_config = config/ner/monolingual/zh.config

# Wikification ranking models used in NER
en_ner_ranker = xlwikifier-data/models/ranker/ner/en/ranker.model
es_ner_ranker = xlwikifier-data/models/ranker/ner/es/ranker.model
zh_ner_ranker = xlwikifier-data/models/ranker/ner/zh/ranker.model

# Benchmark data (TAC2016 EDL)
# 10 documents for each language
tac_es_samples = config/es.test.files
tac_zh_samples = config/zh.test.files

# all documents
#tac_es_samples = config/es.test.files.all
#tac_zh_samples = config/zh.test.files.all

