
#db_path = /shared/preprocessed/ctsai12/multilingual/mapdb-new1
db_path = /shared/bronte/ctsai12/multilingual/xlwikifier-mapdb/xlwikifier-mapdb

# This is only used if you want to import a new dump or train a ranking model
dump_path = /shared/preprocessed/ctsai12/multilingual/wikidump/ 

use_wikisearch = true
search_cache = /shared/bronte/tac2015/mediawiki_cache

# Which entity ID to use in the output view
# Two options:
# "freebase" : FreeBase MID
# "enwiki" : English Wikipedia title
target_kb = enwiki

liblinear_path = liblinear-ranksvm-1.95

# Ranking Models for Wikificaiton
# If not specified, the default model is xlwikifier-data/models/ranker/default/{language code}/ranker.model
es_ranking_model = xlwikifier-data/models/ranker/tac-es/ranker.model
zh_ranking_model = xlwikifier-data/models/ranker/tac-zh/ranker.model
en_ranking_model = xlwikifier-data/models/ranker/en/tmp.model

# NER Models
# If not specified, the default model is the direct transfer model: config/ner/transfer/en-misc.config
en_ner_config = config/ner/monolingual/en.config
es_ner_config = config/ner/monolingual/es.config
zh_ner_config = config/ner/monolingual/zh.config
de_ner_config = config/ner/monolingual/de.config
nl_ner_config = config/ner/monolingual/nl.config
tr_ner_config = config/ner/monolingual/tr.config
tl_ner_config = config/ner/monolingual/tl.config
yo_ner_config = config/ner/monolingual/yo.config
bn_ner_config = config/ner/monolingual/bn.config
ta_ner_config = config/ner/monolingual/ta.config
he_ner_config = config/ner/monolingual/he.config
ru_ner_config = config/ner/transfer/en-misc-wiki.config
ar_ner_config = config/ner/transfer/en-misc-wiki.config
hy_ner_config = config/ner/transfer/en-misc-wiki.config
bg_ner_config = config/ner/transfer/en-misc-wiki.config
#he_ner_config = config/ner/transfer/en-misc-wiki.config
kk_ner_config = config/ner/transfer/en-misc-wiki.config
sr_ner_config = config/ner/transfer/en-misc-wiki.config
fa_ner_config = config/ner/transfer/en-misc-wiki.config
th_ner_config = config/ner/transfer/en-misc-wiki.config
fa_ner_config = config/ner/transfer/en-misc-wiki.config
uk_ner_config = config/ner/transfer/en-misc-wiki.config
ur_ner_config = config/ner/transfer/en-misc-wiki.config
