# Conll config file

# Required fields
configFilename                          acl2016
pathToModelFile                         models/ner/conll-en-train-camera3-misc
taggingEncodingScheme                   BIO
#tokenizationScheme                      DualTokenizationScheme
randomNoiseLevel                        0.0

# Optional fields
#beamSize                                5
forceNewSentenceOnLineBreaks            true
labelTypes                              PER ORG LOC MISC
logging                                 false
# debuggingLogPath                      irrelevant
#inferenceMethod                         GREEDY
normalizeTitleText                      false
predictionConfidenceThreshold           -1
sortLexicallyFilesInFolders             true
thresholdPrediction                     false
treatAllFilesInFolderAsOneBigDocument   true
debug                                   false
trainlang 								en
testlang								bn
#labelsToIgnoreInEvaluation				MISC

# Features

# Everywhere
PreviousTag1                            1
PreviousTag2                            1

# Non lexical
POSTags                                 0
Wikifier                                1
Embedding								0
PrevTagsForContext                      1

# External resource
GazetteersFeatures                      0
pathToGazetteersLists                   config/gazetteers-list.txt

BrownClusterPaths                       0
isLowercaseBrownClusters                false false false
pathsToBrownClusters                    brown-clusters/brown-english-wikitext.case-intact.txt-c1000-freq10-v3.txt    brown-clusters/brownBllipClusters    brown-clusters/brown-rcv1.clean.tokenized-CoNLL03.txt-c1000-freq1.txt
minWordAppThresholdsForBrownClusters    5 5 5

# Lexical Feature
Affixes                                 0
Capitalization                          0
WordTypeInformation                    	0
Forms                                   0
PreviousTagPatternLevel1                0
PreviousTagPatternLevel2                0
PredictionsLevel1                       1
